{% extends "base.html" %}

{% block content %}

<h1>Edit Yarn</h1>

<form method="POST">

    <label>Brand Name:</label><br>
    <input type="text" name="brand_name" value="{{ yarn['brand_name'] }}" required><br><br>

    <label>Color Name:</label><br>
    <input type="text" name="color_name" value="{{ yarn['color_name'] }}" required><br><br>

    <label>Yarn Weight:</label><br>
    <input type="number" name="yarn_weight" value="{{ yarn['yarn_weight'] }}"><br><br>

    <label>Adjust Skeins (+ to add, - to remove):</label><br>
    <input type="number" name="skeins_owned" value="0" required><br><br>

    <button type="submit" class="btn">Save Changes</button>

</form>

<hr style="margin: 30px 0;">

<form action="/delete/{{ yarn['id'] }}" method="POST">
    <button type="submit" class="btn-delete">
        Delete Yarn
    </button>
</form>

<br>

<a href="/yarn">
    <button type="button">Back to Yarn</button>
</a>

{% endblock %}
